<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/FsbtEntity.csdl|res://*/FsbtEntity.ssdl|res://*/FsbtEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.192\sql2014;initial catalog=STOCKTAKING_APP_phase2;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--Connection localhost serverAuthen-->
    <!--<add name="Entities" connectionString="metadata=res://*/FsbtEntity.csdl|res://*/FsbtEntity.ssdl|res://*/FsbtEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQLSERVER2017;initial catalog=STOCKTAKING_APP;persist security info=True;user id=sa;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/FsbtEntity.csdl|res://*/FsbtEntity.ssdl|res://*/FsbtEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAKKRIT-NB;initial catalog=STOCKTAKING_APP;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Connection localhost windowAuthen-->
    <!--<add name="Entities" connectionString="metadata=res://*/FsbtEntity.csdl|res://*/FsbtEntity.ssdl|res://*/FsbtEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=STOCKTAKING_APP;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
</configuration>
