<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/FsbtEntity.csdl|res://*/FsbtEntity.ssdl|res://*/FsbtEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=STOCKTAKING_APP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/FsbtEntity.csdl|res://*/FsbtEntity.ssdl|res://*/FsbtEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=STOCKTAKING_APP;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="Entities" connectionString="metadata=res://*/FsbtEntity.csdl|res://*/FsbtEntity.ssdl|res://*/FsbtEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.192\SQL2014;initial catalog=STOCKTAKING_APP;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>